<div class="container">
    <div class="header">
        <img [routerLink]="['/history']" class="dart-icon" src="/assets/svg/dart.svg" alt="return">
        <h2>Código sala: XXX</h2>
        <img src="/assets/svg/share.svg" alt="Compartir partida">
    </div>
    <div class="turn">
        <span class="player-name">Jugador 1</span>
        <span class="score">Puntos: 103</span>
    </div>
    <img class="target" src="assets/img/Diana2.png" alt="DartsManager Logo">
    <span class="last-note">Ultima anotación: 100</span>
    <div class="buttons">
        <button class="icon-button"><img src="/assets/svg/undo.svg" alt=""></button>
        <button>Fallo</button>
        <button class="icon-button" (click)="addScore('T20')"><img src="/assets/svg/done.svg" alt=""></button>
    </div>
    <app-scoreboard></app-scoreboard>
</div>