<div class="container">
    <div class="header">
        <button class="clean-button" (click)="getOut()"><img class="dart-icon" src="/assets/svg/dart.svg"
                alt="return"></button>
        <h2>Código sala: {{roomId}}</h2>
        <button class="clean-button" [cdkCopyToClipboard]=shareUrl (click)="copiedTimer()"><img
                src="/assets/svg/share.svg" alt="Compartir partida"></button>
    </div>
    <span *ngIf="copied">Link copiado al portapapeles</span>

    <img class="target" src="assets/img/dianaMarcas.png" alt="DartsManager Logo">

    <div class="turn">
        <span class="player-name">Jugador <br><b>{{actualPlayer}}</b></span>
        <span class="score">Puntos <br><b>{{roomStatus[actualPlayer].totalScore}}</b></span>
        <span class="last-note">Anotación <br><b>{{actualScore.join(',') || '&#8205;' }}</b></span>

    </div>
    <div class="buttons">
        <button class="icon-button" [disabled]="actualScore.length <= 0" (click)="removeScore()"><img
                src="/assets/svg/undo.svg" alt=""></button>
        <ng-select [items]="plays" [(ngModel)]="selectedPlay" [searchable]="true" [placeholder]="'Puntuación'"
            (ngModelChange)="addScore($event)"></ng-select>
        <button class="icon-button" (click)="submitScore()" [disabled]="actualScore.length < 3"><img
                src="/assets/svg/done.svg" alt=""></button>
    </div>
    <app-scoreboard [tableData]="roomStatus" [inGame]="true" [isTall]="true" [winner]="actualPlayer"></app-scoreboard>
</div>