@import "styles";

:host {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color-light;
    overflow-y: auto;
}
img {
    cursor: pointer;
    height: 2.5em;
}
.container {
    height: 100%;
    justify-content: flex-start;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.dart-icon {
    transform: rotate(225deg);
}

.turn {
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: $primary-color;
    color: $primary-color-light;
    font-size: 1.1em;
    border-radius: 10px;
    padding: 10px;
}

.target {
    width: 80%;
    height: auto;
    margin: 20px 0px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 8px 0 20px 0;
    button {
        min-width: 30%;
        padding: 5px;
        margin: 0;
    }
    .icon-button {
        min-width: 15%;
    }
    img {
        height: 1.2em;
    }
}
.clean-button {
    background-color: $primary-color-light;
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
    box-shadow: none;
    cursor: pointer;
}

ng-select {
    width: 50%;
    padding: 0 !important;
}

.ng-select.ng-select-single .ng-select-container {
    height: 50px;
}
