@import "styles";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color-light;
}

h1 {
    margin-bottom: 10vh;
    font-size: 2em;
    color: $primary-color;
    font-family: "Rajdhani", sans-serif;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

.container {
    form {
        width: 100%;
        margin-top: 5vh;
    }

    p.form-header {
        color: $primary-color;
        font-family: "Open sans", sans-serif;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
        margin-left: 10%;
        text-align: left;
        font-size: 1.3em;
    }
    .error-message {
        color: red;
        font-size: 0.8em;
        margin-left: 10%;
        text-align: left;
    }
    .form-group {
        width: 100%;
        margin: 0px auto 3vh;
    }
    button:disabled,
    button[disabled] {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
    }
}

@media (min-width: 768px) {
    .registro-container {
        max-width: 400px;
    }
}
