<div class="container">
    <h1>DartsManager</h1>
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
        <p class="form-header">Formulario de registro</p>
        <div class="form-group">
            <input type="text" formControlName="name" placeholder="nombre" required>
            <p *ngIf="registroForm.get('name')?.hasError('pattern')" class="error-message">Nombre debe contener
                solo letras.</p>
        </div>
        <div class="form-group">
            <input type="text" formControlName="surname" placeholder="apellidos" required>
            <p *ngIf="registroForm.get('surname')?.hasError('pattern')" class="error-message">Apellidos deben
                contener solo letras.</p>
        </div>
        <div class="form-group">
            <input type="email" formControlName="email" placeholder="email" required>
            <p *ngIf="registroForm.get('email')?.hasError('email')" class="error-message">Email no es válido.
            </p>
            <p *ngIf="showError" class="error-message">Email ya en uso.</p>
        </div>
        <div class="form-group">
            <input type="password" formControlName="password" placeholder="contraseña" required>
            <p *ngIf="registroForm.get('password')?.hasError('minlength')" class="error-message">Contraseña debe
                tener al menos 8 caracteres.</p>
        </div>
        <div class="form-group">
            <input type="password" formControlName="repeatPassword" placeholder="repetir contraseña" required>
            <p *ngIf="registroForm.get('password')?.value !== registroForm.get('repeatPassword')?.value"
                class="error-message">Las contraseñas no coinciden.</p>
        </div>
        <button type="submit" class="btn-crear"
            [disabled]="!registroForm.valid || registroForm.get('password')?.value !== registroForm.get('repeatPassword')?.value">Crear
            cuenta</button>
    </form>
    <a href="/home" class="link">Ir a inicio</a>
</div>