<div class="container">
    <div class="section">
        <button [routerLink]="['/lobby']">Partida nueva</button>
        <button [routerLink]="['/profile']" class="small-button">
            <img class="icon" src="/assets/svg/person.svg" alt="Perfil" />
        </button>
    </div>

    <div class="section">
        <input type="text" placeholder="Código de la sala">
        <button class="small-button"> Unirse</button>
    </div>
    <select name="gameSelector" id="gameName">
        <option value="301">301</option>
        <option value="501">501</option>
    </select>

    <app-scoreboard></app-scoreboard>

    <app-stats></app-stats>
</div>