<div class="table-container" [ngClass]="isTall ? 'tall' : 'small'">
    <table>
        <thead>
            <tr>
                <th>Jugador</th>
                <th *ngFor="let _ of [].constructor(nScores); let i = index">Ronda {{i+1}}</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let playerName of players">
                <td>{{ playerName }}</td>
                <td *ngFor="let _ of [].constructor(nScores); let i = index">
                    {{tableData[playerName].score[i]?.join(', ') || '-'}}
                </td>
            </tr>
        </tbody>
    </table>
</div>