<div class="stats">

    <h2 class="player-name">Jugador 1</h2>
    <div class="grid">
        <div class="stat">
            <img src="/assets/svg/trophy.svg" alt="Mejor jugada">
            <p id="bestplay">100</p>
        </div>
        <div class="stat">
            <img src="/assets/svg/badge.svg" alt="Puntuación más repedita">
            <p id="repeatedplay">100</p>
        </div>
        <div class="stat">
            <img src="/assets/svg/crosshair.svg" alt="Sección más repetida">
            <p id="hotsection">100</p>
        </div>
        <div class="stat">
            <img src="/assets/svg/dissatissfied.svg" alt="Peor jugada">
            <p id="worstplay">100</p>
        </div>
        <div class="stat">
            <img src="/assets/svg/thumb_down.svg" alt="Peor racha">
            <p id="worststreak">100</p>
        </div>
        <div class="stat">
            <img src="/assets/svg/close.svg" alt="Número de fallos">
            <p id="misses">100</p>
        </div>
    </div>
</div>