@import "styles";

:host {
    width: 100%;
}

.player-name {
    text-align: left;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.stat {
    position: relative;
    text-align: center;
    padding: 10px 0 20px;
}
.back {
    position: absolute;
    height: 115%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rows {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 100px;
    height: 80px;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .stat {
        height: 110px;
        padding: 10px;
        background-size: 60%;
    }
    .grid {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 20px;
    }
}
