<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DartsManager Home</title>
</head>

<body>
    <div class="container">
        <img src="assets/img/Diana.png" alt="DartsManager Logo" class="logo">
        <h1>DartsManager</h1>
        <button (click)="showModal = true">Iniciar sesión</button>
        <button>Jugar como invitado</button>
        <a href="/register" class="register-link">Register</a>
    </div>
    <app-login *ngIf="showModal" (closeEvent)="showModal = false"></app-login>
</body>

</html>