@import "styles";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color-light;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 1rem;
    font-size: 2em;
    color: $primary-color;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

.logo {
    width: 25vh;
    height: auto;
    margin: 10vh 0;
}

a.register-link {
    margin-top: 1em;
    font-size: 1em;
    color: $button-text;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: darken($tertiary-color, 10%);
    }
}

@media (min-width: 768px) {
    .logo {
        width: 150px;
    }
}
