<div class="login-popup">
    <a class="outer-fill" (click)="close()"></a>
    <div class="login-content">
        <div *ngIf="!guestMode" class="regular-header" style="padding: 10px;">
            <h2>Bienvenido</h2>
            <img class="icon" (click)="close()" src="assets/svg/close.svg" alt="close button">
        </div>
        <div *ngIf="guestMode" class="regular-header">
            <a class="login-toggle" [ngClass]="{'active': useMail}" (click)="toggleUseMail(); ">Iniciar sesión</a>
            <a class="login-toggle" [ngClass]="{'active': !useMail}" (click)="toggleUseMail();"
                style="border-radius: 0 10px 0 0;">Invitado</a>
        </div>
        <p *ngIf="showError" class="error-message">Credenciales inválidos</p>
        <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
            <div class="input-wrapper">
                <input type="{{useMail ? 'email' : 'text'}}" id="email" autocomplete="on"
                    placeholder="{{useMail ? 'Email' : 'Nombre'}}" formControlName="inputField" required />
            </div>
            <div class="input-wrapper">
                <input type="password" id="password" placeholder="Contraseña" formControlName="password"
                    [ngClass]="{ invisible: !useMail }" [attr.required]="useMail ? 'required' : null"
                    [attr.disabled]="useMail ? null : 'disabled'" />
            </div>
            <button type="submit" class="login-button" [disabled]="!loginForm.valid">
                {{ useMail ? 'Iniciar sesión' : 'Entrar' }}
            </button>
        </form>
    </div>
</div>