<div class="login-popup">
    <div class="login-content">
        <div class="header">
            <h2>Bienvenido</h2>
            <img class="icon" (click)="close()" src="assets/svg/close.svg" alt="close button">

        </div>
        <form class="login-form">
            <div class="input-wrapper">
                <input type="email" id="email" placeholder="email" required>
            </div>
            <div class="input-wrapper">
                <input type="password" id="password" placeholder="contraseña" required>
            </div>
            <button type="submit" class="login-button">Iniciar sesión</button>
        </form>
    </div>
</div>