<div class="container">
    <h1>DartsManager</h1>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <p class="form-header">Editar perfil</p>
        <div class="form-group">
            <input type="text" formControlName="name" placeholder="nombre" required>
            <p *ngIf="profileForm.get('name')?.hasError('pattern')" class="error-message">Nombre debe contener solo
                letras.</p>
        </div>
        <div class="form-group">
            <input type="text" formControlName="surname" placeholder="apellidos" required>
            <p *ngIf="profileForm.get('surname')?.hasError('pattern')" class="error-message">Apellidos deben contener
                solo letras.</p>
        </div>
        <div class="form-group">
            <input type="email" formControlName="email" placeholder="email" required>
            <p *ngIf="profileForm.get('email')?.hasError('email')" class="error-message">Email no es válido.</p>
        </div>
        <p *ngIf="showError" class="error-message">Error al actualizar usuario.</p>
        <button type="submit" [disabled]="!profileForm.valid">Guardar cambios</button>
        <button type="button" (click)="logout()">Cerrar sesión</button>
    </form>
</div>