/* You can add global styles to this file, and also import other style files */

// variables
$primary-color: #004643;
$primary-color-light: #c5cae9;
$button-color: #f9bc60;
$button-text: #001e1d;
$secondary-color: #abd1c6;
$tertiary-color: #e16162;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&family=Rajdhani:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&family=Rajdhani:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&family=Open+Sans:ital,wght@0,400;0,700;1,500&family=Rajdhani:wght@400;500;700&display=swap");
